# WordPress
wp-config.php
wp-content/uploads/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Composer
vendor/
composer.lock

# Build artifacts
*.zip
*.tar.gz
dist/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.phpstorm.meta.php
_ide_helper.php

# PHPUnit
.phpunit.result.cache
coverage/

# Logs
*.log
